<!-- <!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>capstone</title>



</head>

<body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script type="text/javascript">
        window.onload = function() {
            // setup the button click
            document.getElementById("theButton").onclick = function() {
                doWork()
            };
        }
        function doWork() {
            var formData = new FormData();
            var request = new XMLHttpRequest();
            request.open("POST", "displayParams");
            formData.append("examplekey", "DISSOLVED OXYGEN");
            request.send(formData);
        }
    </script>
    <a href="" id="theButton">Click Me</a>
</body>

</html> -->
